<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/freshcoffee/dao/ProductDao">
	<select id="bestList" resultType="com.freshcoffee.dto.ProductDTO">
		<![CDATA[
		SELECT *
		FROM (SELECT * FROM tbl_product
		      ORDER BY p_good DESC)
		WHERE rownum <= 3
		]]>
		 
	</select>
		<!--CDATA는 rownum <=6의 <를 태그로 보기때문에 이 값을 태그로 보기 위해 쓴다.  -->
	<select id="newList" resultType="com.freshcoffee.dto.ProductDTO">
		<![CDATA[
		SELECT *
		FROM (SELECT * FROM tbl_product
		      ORDER BY p_indate DESC)
		WHERE rownum <=3
		]]>
	</select>
	<!--21.매개변수로 전달받은 id값을 sql문에 바인딩변수로 넣고 sql문을 실행 (DB로 이동)  -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT id FROM tbl_member
		WHERE id = #{id}
	</select>
	
	<insert id="mem_insert" parameterType="com.freshcoffee.dto.MemberDTO">
		INSERT INTO tbl_member(id, pw, name, phone, email, zipcode, addr1, addr2)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{zipcode}, #{addr1}, #{addr2})
	</insert>
	
	<select id="loginCheck" parameterType="com.freshcoffee.dto.MemberDTO" resultType="com.freshcoffee.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	
	<update id="mem_update" parameterType="com.freshcoffee.dto.MemberDTO">
		UPDATE tbl_member SET
			name = #{name},
			phone = #{phone},
			email = #{email},
			zipcode = #{zipcode},
			addr1 = #{addr1},
			addr2 = #{addr2}
		WHERE id = #{id}
	</update>
	
	<select id="mem_select" parameterType="String" resultType="com.freshcoffee.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE id = #{id}
	</select>
	
	<select id="pwCheck" resultType="int">
		SELECT COUNT(*) FROM tbl_member
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<update id="pwUpdate" parameterType="hashmap">
		UPDATE tbl_member SET
			pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<delete id="mem_delete" parameterType="String">
		DELETE FROM tbl_member
		WHERE id = #{id}
	</delete>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(bno)
		FROM tbl_board
		WHERE bno > 0 
		<if test="search_option == 1">
				AND title LIKE '%'||#{keyword}||'%' OR AND content LIKE '%'||#{keyword}||'%'
		</if>
		
		<if test="search_option == 2">
			AND title LIKE '%'||#{keyword}||'%'
		</if>
		
		<if test="search_option == 3">
			AND content LIKE '%'||#{keyword}||'%'
		</if>
		
		<if test="search_option == 4">
			AND writer LIKE '%'||#{keyword}||'%'
		</if>
	</select>
	<select id="listAll" resultType="com.freshcoffee.dto.BoardDTO" >
		SELECT * 
		FROM (SELECT rownum rnum, a.*
			FROM (SELECT *
						FROM )tbl_board
			WHERE bno > 0 
			<if test="search_option == 1">
				AND title LIKE '%'||#{keyword}||'%' OR AND content LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test="search_option == 2">
				AND title LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test="search_option == 3">
				AND content LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test="search_option == 4">
				AND writer LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test="sort_type == 'new'">
				ORDER BY bno DESC
			</if>	
			
			<if test="sort_type == 'good'">
				ORDER BY goodcnt DESC, bno DESC
			</if>
			
			<if test="sort_type == 'reply'">
				ORDER BY replycnt DESC, bno DESC
			</if>
			
			<if test="sort_type == 'view'">
				ORDER BY viewcnt DESC, bno DESC
			</if>
			) a
		)
		WHERE rnum BETWEEN #{pageStart} AND ${perPageNum}
	</select >
	
	<select id="view" parameterType="String" resultType="com.freshcoffee.dto.BoardDTO">
		SELECT * FrOM tbl_board
		WHERE bno = #{bno}
	</select>
	
	<update id="viewCnt" parameterType="String">
		UPDATE tbl_board
		SET viewcnt = viewcnt + 1
		WHERE bno = #{bno}
	</update>
	
	<update id="goodCnt" parameterType="String">
		UPDATE tbl_board
		SET goodcnt = goodcnt + 1
		WHERE bno = #{bno}
	</update>
	
	<insert id="boardGoodCnt" parameterType="hashmap">
		INSERT INTO tbl_goodcnt (id, bno)
		VALUES (#{id}, #{bno})
	</insert>
	
	<update id="replyList">
		UPDATE tbl_board
		<if test="flag == plus">
			SET replycnt == replycnt+1
		</if>
		<if test="flag == minus">
			SET replycnt == replycnt-1
		</if>
		WHERE bno = #{bno}
	</update>
	
	
	<!--댓글 -->
	<select id="select_goodCnt" parameterType="String" resultType="com.freshcoffee.dto.ReplyDTO">
		SELECT * FROM tbl_reply
		WHERE bno = #{bno}
	</select>
	
	<select id="sel_goodCnt" parameterType="hashmap" resultType="String">
		SELECT bid FROM tbl_goodcnt
		WHERE bid = #{bid} AND bno = #{bno}
	</select>
	
	<insert id="replyAdd" parameterType="com.freshcoffee.dto.ReplyDTO">
		INSERT INTO tbl_reply(rno, content,)
		VALUES(seq_reply)
	</insert>
	
	<delete id="replyRemove" parameterType="int">
		DELETE FROM tbl_reply
		WHERE rno = #{rno}
	</delete>
	
	<insert id="registerAdd" parameterType="com.freshcoffee.dto.BoardDTO">
		INSERT INTO tbl_board(writer,content,title)
		VALUES(seq_reply)
	</insert>
	
	<insert id="registerAdd" parameterType="com.freshcoffee.dto.BoardDTO">
		INSERT INTO tbl_board(bno, title,content,writer,filename, filesize)
	</insert>
	
	<select id="seqVal" resultType="int">
	
	</select>
	
	<delete id="removeBoard" parameterType="String">
		DELETE FROM tbl_board
		WHERE bno = #{bno}
	</delete>
	
	
	
</mapper>